<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784959084971-42nkai7mqrspe87v6euc5gfe5d77uodi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784959084971-42nkai7mqrspe87v6euc5gfe5d77uodi</string>
	<key>API_KEY</key>
	<string>AIzaSyDDDZbNDf2kJsgCIFntqnRjmbjFrQ2216A</string>
	<key>GCM_SENDER_ID</key>
	<string>784959084971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.org.jointly</string>
	<key>PROJECT_ID</key>
	<string>jointly-b3f2a</string>
	<key>STORAGE_BUCKET</key>
	<string>jointly-b3f2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784959084971:ios:986462e64b04e9ee6f9aee</string>
	<key>DATABASE_URL</key>
	<string>https://jointly-b3f2a.firebaseio.com</string>
</dict>
</plist>